* {
    margin: 0;
    font-family: sans-serif;
}

body {
    padding: 40px 0;
}

section {
    width: 1000px;
    margin: 0 auto;
}

h1 {
    font-size: 40px;
    margin-bottom: 40px;
}

.info-block-container {
    display: flex;
    justify-content: space-between;
}

.info-block {
    width: 200px;
    height: 200px;
    border: 1px solid gray;
    padding: 15px;
    display: flex;
    flex-direction: column; /* Выровнили эл-ты по вертикали, поменяли ось на вертикальную, расположение  столбик */
    justify-content: space-between; /* Расстояние между */
    align-items: flex-start; /* Выровнили по левому краю */
}